
body {
  font-family: 'Lato';
}

/* barre de navigation, override de semantic-ui ***********************************************/
.topbar {
  width: 100%;
  background-color: rgba(27, 28, 29, 0.9);
  margin-bottom: 15px;
}

.topbar .ui.menu {
  margin: 0px;
  color: rgb(153, 153, 120);
  background-color: rgba(0, 0, 0, 0);
}

.topbar .ui.menu .item {
  color: rgba(255, 255, 255, 0.5)
}

.topbar .ui.menu a.item:hover {
  color: #fff;
  font-family: Lato;
}

.topbar .ui.menu a.active.item {
  font-weight: bold;
  color: #fff;
}

/* toolbar ****************************************************************** */
.section-title {
  font-size: 24px;
}

.ui.secondary.menu {
  margin-left: 0px;
  margin-right: 0px;
}
.ui.secondary.menu .item {
  padding: 0;
  margin-left: 0px;
  margin-right: 10px;
}

.search-input {
  margin: 0 15px 0 0;
}

/* override de React virtualized table ****************************************************/
.ReactVirtualized__Table__headerRow.headerRow {
  margin-top: 12px;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__Grid {
  outline-style: none;
}
.ReactVirtualized__Table__row div.field:last-child {
  margin-bottom: 0;
}

/* table */
table td, table th {
  background: #d0e5ab ;
}

.Table {
  width: 100%;
  margin-top: 15px;
}

.evenRow,
.oddRow {
  border-bottom: 1px solid #e0e0e0;
}

.headerRow {
  border-bottom: 2px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  background-color: #909fa7;
  background-size: 100%;
  background-image: -webkit-linear-gradient(top,#909fa7,#738791);
  background-image: -moz-linear-gradient(top, #909fa7 0, #738791 100%);
  background-image: -webkit-linear-gradient(top, #909fa7 0, #738791 100%);
  background-image: linear-gradient(to bottom, #909fa7 0%, #738791 100%);

}

.oddRow {
  background-color: #fafafa;
}

.headerColumn {
  text-transform: none;
}

/* Formulaires */
span.required {
  padding-left: 2px;
  color: red;
  font-size: 1.2em;
}

div.error {
  color:red;
  clear:both;
  margin-bottom:10px;
}

/* =========================================== controls ============================================ */
/* EditableContent */
.placeholder {
  font-style: italic;
  color: lightgrey;
}

/* =========================================== Transition group ============================================ */
/* Delatable */
.deletable-leave {
  opacity: 1;
}

.deletable-leave.deletable-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

/* =============== Edit form template ====================================== */

.field-selector {
  background-color: white;
}

.editedForm {
  margin-top: 10px;
  padding-top: 100px;
}
.controlTile {
  height: 100px;
  border-color: #6c9db6;
  border-width: thin;
  border-style: solid;
  text-align: center;
  font-size: 0.71428571rem;
}

.controlTile .thumbnail {
  height: 75px;
}

.drag-container.accept-drop {
  border-style: dashed;
  border-color: #6c9db6;
  border-width: thin;
  padding: 5px 5px 5px 5px;
  min-height: 20px;
  width: 100%
}

.draggable {
  padding-bottom: 8px;
  padding-top: 8px;
}

.draggable, .draggable * {
  cursor: -webkit-grab;
}


.gridOptions {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.selectedForEdit {
  border-color: blue;
  border-width: thin;
  border-style: solid;
}

.deleteHandle {
  visibility: hidden;
}

.deleteHandle:hover {
  color: black !important;
}

.deleteHandle * {
  cursor: pointer !important;
}

.draggable:hover > .deleteHandle, .form-zone:hover .grid-option  {
  visibility: visible !important;
}

.grid-options {
  position: absolute;
  right: -14px;
  color: lightgrey
}

.draggable.with-error {
  border-color: red;
  border-width: thin;
  border-style: dashed;
}

.ui.grid .computer.left {
  width: 200px;
  padding-right: 0px;
}

.ui.grid .computer.right {
  width: 400px;
}
.ui.grid .computer.center {
  width: calc(100% - 600px);
}

.formPanel {
  height: 550px;
  overflow-x: hidden;
}
.computer.left .drag-container .draggable:nth-child(odd) .controlTile {
  border-right: none;
}
.computer.left .drag-container .draggable .controlTile {
  border-top: none;
}
.computer.left .drag-container .draggable:first-child .controlTile,
.computer.left .drag-container .draggable:nth-child(2) .controlTile
{
  border-top: 1px solid #6c9db6;
}
.controlTile:hover, .controlTile:focus {
  background-color: lightgrey;
}
.ui.grid .column.left .row .column.draggable {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.ui.grid .column.left .row.drag-container {
  margin: 6px 16px;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y {
  overflow-y: scroll;
}

.flex {
  display: flex;
}
